version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: toshi-collection-toshi-moto_web_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"
  api_web:
    image: toshimoto821/toshi-moto-api:v1.4.4@sha256:127eb691574e3e7f423f35312d2e553ca1a25a918f4469ddec4675d02ee1065b
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      - mongodb
    environment:
      PORT: 8121
      MONGODB_URI: "mongodb://toshi-collection-toshi-moto_mongodb_1:27017/toshi-moto"
  web:
    image: toshimoto821/toshi-moto:v1.13.1@sha256:6241d735fb15680bd5ac69b482367215347e5977a6787cfb19c1ebfacc36664e
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      - api_web
    environment:
      PORT: 8021

  mongodb:
    # Newer mongo versions don't support Raspberry Pi 4 arm64
    image: mongo:4.4.6-bionic@sha256:3d0e6df9fd5bc42cbf8ef8bc9e6c4e78f6f26c7157dbd7bdec72d202ab8ebe3a
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data/db:/data/db
      - ${APP_DATA_DIR}/data/db/diagnostic.data:/data/db/diagnostic.data
      - ${APP_DATA_DIR}/data/db/journal:/data/db/journal
    ports:
      - "27017:27017" # Expose port 27017 to host
