version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: toshi-collection-toshi-moto_web_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"
  api_web:
    image: toshimoto821/toshi-moto-api:v1.2.3@sha256:158a88f044f4e511670c35c7b78adb350316641a52803839977dc49fb41228e2
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      - mongodb
    environment:
      PORT: 8121
      MONGODB_URI: "mongodb://toshi-collection-toshi-moto_mongodb_1:27017/toshi-moto"
  web:
    image: toshimoto821/toshi-moto:v1.9.12@sha256:4f389deef300ead6bd5c0e46feba1249e23b6d29b9bf3c7421b22476544a4012
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      - api_web
    environment:
      PORT: 8021

  mongodb:
    # Newer mongo versions don't support Raspberry Pi 4 arm64
    image: mongo:4.4.6-bionic@sha256:3d0e6df9fd5bc42cbf8ef8bc9e6c4e78f6f26c7157dbd7bdec72d202ab8ebe3a
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data/db:/data/db
      - ${APP_DATA_DIR}/data/db/diagnostic.data:/data/db/diagnostic.data
      - ${APP_DATA_DIR}/data/db/journal:/data/db/journal
