name: Bump Web Image Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The new version of the web image"
        required: true
        default: "1.15.1"
      digest:
        description: "The new SHA256 digest of the web image"
        required: true
        default: "sha256:1057a3283dfe2550130e6d128e258c9163421ba264c1e37e575003d9a88d08f4"

jobs:
  bump-web-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check if branch exists
        id: check_branch
        run: |
          if git show-ref --verify --quiet refs/heads/bump-web-image-version; then
            echo "##[set-output name=branch_exists;]true"
          else
            echo "##[set-output name=branch_exists;]false"
          fi

      - name: Delete existing branch
        if: steps.check_branch.outputs.branch_exists == 'true'
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git push origin --delete bump-web-image-version
          git branch -D bump-web-image-version

      - name: Commit changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git checkout -b bump-web-image-version
          sed -i 's|version: .*|version: "${{ github.event.inputs.version }}"|' toshi-collection-toshi-moto/umbrel-app.yml
          sed -i 's|image: toshimoto821/toshi-moto:v[0-9.]*@sha256:[a-f0-9]*|image: toshimoto821/toshi-moto:${{ github.event.inputs.version }}@${{ github.event.inputs.digest }}|' toshi-collection-toshi-moto/docker-compose.yml


          echo "After changes:"
          git status
          cat toshi-collection-toshi-moto/umbrel-app.yml
          cat toshi-collection-toshi-moto/docker-compose.yml
          git add -A
          git commit -m 'Bump web image version to ${{ github.event.inputs.version }}'
          git push --set-upstream origin bump-web-image-version

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: master
          branch: bump-web-image-version # This should match the name of your new branch
          title: "Version Bump ${{ github.event.inputs.version }}"
          body: "This PR was created automatically by GitHub Actions."
          draft: false
