name: Bump Web Image Version

on:
  workflow_dispatch:
jobs:
  bump-web-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get Docker Image Digest
        id: get_digest
        run: |
          response=$(curl -s "https://hub.docker.com/v2/repositories/toshimoto821/toshi-moto/tags?page_size=1")
          VERSION=$(echo $response | jq -r '.results[0].name')
          DIGEST=$(echo $response | jq -r '.results[0].digest')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "DIGEST=$DIGEST" >> $GITHUB_ENV

      - name: Commit changes
        run: |
          sed -i 's|version: .*|version: "${{ env.VERSION }}"|' toshi-collection-toshi-moto/umbrel-app.yml
          sed -i 's|image: toshimoto821/toshi-moto:v[0-9.]*@sha256:[a-f0-9]*|image: toshimoto821/toshi-moto:${{ env.VERSION }}@${{ env.DIGEST }}|' toshi-collection-toshi-moto/docker-compose.yml

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: master
          branch: bump-web-image-version
          title: "Version Bump ${{ env.VERSION }}"
          body: "This PR was created automatically by GitHub Actions."
          draft: false
          branch-suffix: "" # Ensure no suffix is added to the branch name
          commit-message: "Bump web image version to ${{ github.event.inputs.version }}"
          committer: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          signoff: false
